<mat-toolbar class="toolbar">
  <span>IRA Application</span>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav class="main-container-side"
               mode="side"
               opened>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
