.pf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;

  &-title {
    color: #6c757d;
    font-size: 14px;
    font-weight: normal;
    height: 21px;
    letter-spacing: 2px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &-form-name {
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &-form {
    font-size: 12px;

    &-field {
      &-preff {
        font-size: 14px;
        color: #c1c1c1;
        font-weight: 700;
      }

      &.fn {
        max-width: 160px;
      }

      &.date {
        max-width: 140px;
      }

      &.snn {
        max-width: 70px;
      }

      &.opt {
        max-width: 100px;
      }

      &.rel {
        max-width: 100px;
      }

      &.perc {
        max-width: 60px;
      }

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }

    &-btn-container {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      padding-left: 10px;

      &-cancel {
        color: red;
      }

      &-done {
        color: greenyellow;
      }
    }
    &-chip {
      display: flex;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px;
      background-color: #fff9f1;
      color: #fdba05;

      &-icon {
        font-size: 20px;
      }

      &.filled {
        color: #6cd0a0;
        background-color: #f3fdf8;
      }
    }
  }
}

.row {
  display: flex;

  &.end {
    justify-content: flex-end;
    max-width: 700px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
